* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

:root {
    --laranja: #F37500;
    --azul: #082C5B;
    --branco: white;
    --cinza: #898989;
}

/* CABEÇALHO */
header {
    background-color: var(--branco);
    box-shadow: #2f303d25 2px 6px 5px;
    padding-bottom: 10px;
    gap: 50px;
}

.logo {
    padding-top: 10px;
    padding-right: 30px;
    width: 150px;
    margin-left: -60px;
}

.text-nav {
    gap: 20px;
    text-decoration: none;
    padding-left: 50px;
    align-items: center;
    font-family: 'Microsoft JhengHei UI', sans-serif;
    color: #000;
    font-size: 15px;
}

.text-nav:hover {
    color: var(--laranja);
}

.doe-agora {
    font-size: 15px;
    gap: 20px;
    text-decoration: none;
    margin-left: 50px;
    align-items: center;
    font-family: 'Microsoft JhengHei UI', sans-serif;
    color: var(--branco);
    background-color: var(--laranja);
    border-radius: 25px;
    border-color: var(--laranja);
    border: none;
    padding: 10px;
}

.doe-agora:hover {
    color: var(--laranja);
    background-color: var(--branco);
    border-color: var(--laranja);
    border: 2px solid var(--laranja);
}

/* BARRA DE BUSCA */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 580px;
  }
  
  .input {
    font-family: 'Microsoft JhengHei UI', sans-serif;
    width: 100%;
    height: 30px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 23px;
    background-color: var(--branco);
    outline: none;
    color: var(--cinza);
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
  }
  
  .input::placeholder {
    color: var(--cinza);
  }
  
  .input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
  }
  
  .search-icon {
    position: absolute;
    left: 1rem;
    fill: #89898c;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
  }