* {
    font-family: Poppins, serif;
    text-decoration: none;
}


:root {
    --laranja: #F37500;
    --azul: #082C5B;
    --branco: white;
    --cinza: #898989;
}

body {
    overflow-x: hidden;
  }

/* CABEÇALHO */
header {
    background-color: var(--branco);
    box-shadow: #2f303d25 2px 6px 5px;
    padding-bottom: 10px;
}

.logo {
    padding-top: 10px;
    padding-right: 30px;
    width: 150px;
}

.text-nav {
    gap: 10px;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 100px;
    align-items: center;
    font-family: 'Microsoft JhengHei UI', sans-serif;
    color: #000;
    font-size: 15px;
    margin-top: 0;
    margin-right: 10px;
    padding-top: 0px;  
    display: flex;
    align-items: center;  
    justify-content: space-between; 
}

.text-nav:hover {
    color: var(--laranja);
}

.doe-agora {
    font-size: 15px;
    gap: 20px;
    text-decoration: none;
    margin-left: 50px;
    align-items: center;
    font-family: 'Microsoft JhengHei UI', sans-serif;
    color: var(--branco);
    background-color: var(--laranja);
    border-radius: 25px;
    border-color: var(--laranja);
    border: none;
    padding: 10px;
}

.doe-agora:hover {
    color: var(--laranja);
    background-color: var(--branco);
    border-color: var(--laranja);
    border: 2px solid var(--laranja);
}

/* BARRA DE BUSCA */
.group {
    display: flex;
    line-height: 28px;
    align-items: center;
    position: relative;
    max-width: 580px;
  }
  
  .input {
    font-family: 'Microsoft JhengHei UI', sans-serif;
    width: 100%;
    height: 30px;
    padding-left: 2.5rem;
    box-shadow: 0 0 0 1.5px #2b2c37, 0 0 25px -17px #000;
    border: 0;
    border-radius: 23px;
    background-color: var(--branco);
    outline: none;
    color: var(--cinza);
    transition: all 0.25s cubic-bezier(0.19, 1, 0.22, 1);
    cursor: text;
    z-index: 0;
  }
  
  .input::placeholder {
    color: var(--cinza);
  }
  
  .input:hover {
    box-shadow: 0 0 0 2.5px #2f303d, 0px 0px 25px -15px #000;
  }
  
  .input:active {
    transform: scale(0.95);
  }
  
  .input:focus {
    box-shadow: 0 0 0 2.5px #2f303d;
  }
  
  .search-icon {
    position: absolute;
    left: 1rem;
    fill: #89898c;
    width: 1rem;
    height: 1rem;
    pointer-events: none;
    z-index: 1;
  }
  
.parte-principal {
    background-color:#082C5B;
    margin: 0;
    padding:0;
    width: 100vw;
}

.container-texto {
    color: white;
    margin: 0;
    padding:40px;
}

.container-botao {
    margin-top: 20px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 40px;
}
.btn-voltar {
    background-color: #F37500;
    color: #082C5B;
    border: none;
    border-radius: 10px;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin: 4px 2px;
    cursor: pointer;
    transition: background-color 0.3s;
}

footer {
  background-color: var(--branco);
  padding-top: 60px;
}

.p-t {
  padding-bottom: 60px;
}

.tam {
  width: 80%;
}

.azul {
  background-color: var(--azul);
  color: var(--branco);
  padding: 10px;
}

.azul h5 {
  font-weight: normal;
}

.space {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 40px;
}

/* Fim - Rodapé */

@media (max-width:1099px) {
    .doe-agora {
        margin-left: 20px;
        margin-right: 20px;
        padding: 10px;
    }
}
  
  @media (max-width: 768px) {
    .menu {
      display: none;
      flex-direction: column;
      gap: 10px;
      padding-left: 0;
      position: absolute;
      top: 50px;
      left: 0;
      background: white;
      width: 100%;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
  
    .menu.show {
      display: flex;
    }
  
    .menu-toggle {
      display: block;
    }
  }
  
@media (max-width:770px) {
    .menu {
        display: none;
        flex-direction: column;
        gap: 10px;
        padding-left: 0;
        position: absolute;
        top: 50px;
        left: 0;
        background: white;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      }
    
      .menu.show {
        display: flex;
      }
    
      .menu-toggle {
        display: block;
      }
}

@media (max-width:420px) {
    .parte-principal {
        width: 100vw;
        overflow-x: hidden;
        box-sizing: border-box;
      }
    
      .doe-agora {
        max-width: 100%;
        white-space: nowrap;
      }
}
@media (max-width: 374px) {

  .doe-agora {
      max-width: 100%;
      white-space: nowrap;
    }
    .parte-principal {
      width: 100vw;
      overflow-x: hidden;
      box-sizing: border-box;
    } 
}